body {
  font-size: 1em;
  margin: 20px;
}
header {
  font-size: 300%;
  margin-bottom: 20px;
}
.card {
  width: 8em;
  height: 12em;
  background-color: #efefef;
  border-radius: 10px;
  border: .1em solid #000;
  float: left;
  margin-right: 10px;
}


.error-msg {
  text-align: center;
}