body {
  font-size: 1em;
  margin: 20px;
}
header {
  font-size: 150%;
  margin-bottom: 20px;
}
#draw {
  float: right;
}
#home {
  float: left;
  margin-bottom: 20px;
}
#active {
  clear: both;
}
.deck, .bank, .stack {
  width: 130px;
  height: 178px;
  background-color: #efefef;
  border-radius: 10px;
  border: .1em solid #000;
  float: left;
  margin-right: 10px;
}
.error-msg {
  text-align: center;
}